@model anime_tracker.Models.AnimeDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Delete Anime: <i>@Model.anime_title</i>?</h2>
<nav>
    <h5>
        | <a href="/Anime/Details/@Model.anime_id"><b>Cancel Deletion & Return</b> to Anime Details</a> |
        <a href="/Anime/Edit/@Model.anime_id"><b>Edit</b> Anime Information</a> |
    </h5>
</nav>
<form action="/Anime/Delete/@Model.anime_id" method="POST">
    <input type="submit" value="Confirm Deletion"/>
</form>