@model IEnumerable<anime_tracker.Models.AnimeTypeDto>

@{
    ViewBag.Title = "Add New Anime";
}
<div>
    <h2>Add New Anime</h2>
    <nav>
        <h5>| <a href="/Anime/List"><b>Cancel Adding & Return</b> to Anime Collection</a> |</h5>
    </nav>
</div>

<form action="/Anime/Create" method="POST">
    <div>
        <label>Title of Anime:</label> <input type="text" name="anime_title" />
    </div>
    <div>
        <label>Type of Anime:</label>
        <select name="anime_type_id">
            @foreach (var animeType in Model)
            {
                <option value="@animeType.anime_type_id">@animeType.anime_type_name</option>
            }
        </select>
    </div>
    @*<div>
            <label>Genre:</label>
                @foreach(var genre in Model)
            {
            <option value="@genre.genre_id">@genre.genre_name</option>
            }
        </div> *@
    <div>
        <label>Status:</label>
        <select name="status">
            <option value="Upcoming">Upcoming</option>
            <option value="Airing">Airing</option>
            <option value="Finished">Finished</option>
        </select>
    </div>
    <div>
        <label>Airing Start Date:</label> <input type="datetime" name="start_date" placeholder="YYYY-MM-DD 12:00:00 AM" value=""/> [Currently must be added with " 12:00:00 AM" attached to the end]
    </div>
    <div>
        <label>Airing End Date:</label> <input type="datetime" name="end_date" placeholder="YYYY-MM-DD 12:00:00 AM" value="" /> [Currently must be added with " 12:00:00 AM" attached to the end]
    </div>
    <div>
        <label>Activity:</label>
        <select name="activity">
            <option value="Plan to Watch">Plan to Watch</option>
            <option value="Watching">Watching</option>
            <option value="Completed">Completed</option>
        </select>
    </div>
    <div>
        <label>Completed Episodes:</label> <input type="number" name="completed_episodes" />
    </div>
    <div>
        <label>Total Episodes:</label> <input type="number" name="total_episodes" />
    </div>
    <div>
        <label>Rating:</label>
        <select name="rating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        /10
    </div>
    <div>
        <label>Favourite:</label>
        <input type="checkbox" name="favorite" value="true" />
        <input type="hidden" name="favorite" value="false" />
    </div>
    <div>
        <input type="submit" value="Add Anime" />
    </div>
</form>