@model anime_tracker.Models.ViewModels.DetailsAnimeTypes

@{
    ViewBag.Title = "Details";
}

<div>
    @if (Model.SelectedAnimeType.anime_type_name == "TV Series")
    {
        <h2>Anime <span>@Model.SelectedAnimeType.anime_type_name</span></h2>
    }
    else
    {
        <h2>Anime <span>@Model.SelectedAnimeType.anime_type_name</span>s</h2>
    }
    <nav>
        <h5>| <a href="/AnimeType/List"><b>Return</b> to List of Anime Types</a> |</h5>
    </nav>
</div>
<div>
    <ol>
        @foreach (var anime in Model.RelatedAnimes)
        {
            <li>
                <i><a href="/Anime/Details/@anime.anime_id">@anime.anime_title</a></i>
            </li>
        }
    </ol>
</div>