@model anime_tracker.Models.ViewModels.DetailsAnimeTypes

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>@Model.SelectedAnimeType.anime_type_name Anime</h2>
    <nav>
        <h5>| <a href="/AnimeType/List"><b>Return</b> to List of Anime Types</a> |</h5>
    </nav>
</div>
<div>

   @foreach (var anime in Model.RelatedAnimeTypes)
   {
        <a href="/Anime/Details/@anime.anime_id">@anime.anime_title</a>
   }
</div>